@import "../variables";

.home {
  position: relative;
  overflow: hidden;

  & .shape__big,
  .shape__small {
    position: absolute;
  }

  & .shape {
    &__big {
      left: -9rem;
      top: -4rem;
    }
    &__small {
      right: -10rem;
      bottom: 3rem;
    }
  }

  &__container {
    position: relative;
    padding-top: 4rem;
    row-gap: 3rem;

    @include lg-screen {
      padding-top: 2rem;
    }
  }

  &__data {
    text-align: center;
  }

  &__title {
    font-size: $h1-font-size;
    margin-bottom: 1rem;
  }

  &__subtitles {
    font-size: $h3-font-size;
    margin-bottom: 0.25rem;
  }

  &__elec {
    font-size: $small-font-size;
    font-weight: 400;
    color: $text-color;
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;

    &-icon {
      color: $primary-color;
    }
  }
  &__img {
    width: 280px;
    justify-self: center;

    @include lg-screen {
      width: 380px;
    }
  }

  &__car {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    margin-bottom: 2rem;

    @include lg-screen {
      column-gap: 7rem;
    }

    &-name {
      font-size: 0.625rem;
      font-weight: 400;
      color: $text-color-light;
    }

    &-data {
      text-align: center;
    }

    &-number {
      font-size: $h2-font-size;
      font-weight: $font-medium;
      margin-bottom: 0.25rem;
    }

    &-icon {
      background-color: $container-color;
      border-radius: 50%;
      padding: 0.376rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem;
      margin-bottom: 0.75rem;

      @include lg-screen {
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }
    }
  }
  &__button {
    position: relative;
    border: 2px solid hsl(158, 89%, 30%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-size: $small-font-size;
    color: $white-color;
    font-weight: $font-medium;

    &::before {
      content: "";
      border: 2px solid hsl(158, 98%, 43%);
      width: 90px;
      height: 90px;
      position: absolute;
      border-radius: 50%;
      box-shadow: 0 0 12px hsl(158, 98%, 43%);
      transition: 0.3s;
      animation: button 3s infinite;
    }
  }
}
